---
title: about
---

%section.main-headline.white-bg
  .container-fluid
    .row
      .col-md-7.no-pad.text-left.header-caps
        %h2.black.font2bold
          About Us
        %h3.grey.font3
          Propulsion is a small development team that thrives on the creative process. Over the course of our careers, we have developed solutions for Société Général de Surveillance, Petroconsulants (now IHS Energy Group), Discount Bank & Trust Company, Banque Piguet, and Firmenich, among others. Today, we apply that accumulated knowledge to the unique challenges in the book publishing industry.
