---
title: about
---

%section.main-headline.white-bg
  .container-fluid
    .row
      .col-md-7.no-pad.text-left.header-caps
        %h2.black.font2bold
          About Us
        %h3.grey.font3
          Over the course of our careers, we have developed solutions for Société Général de Surveillance, Petroconsulants (now IHS Energy Group), Discount Bank & Trust Company, Banque Piguet, and Firmenich, among others. Today, we apply that accumulated knowledge to the unique challenges in the book publishing industry. Our flagship application is #{link_to 'TitleLeaf', 'http://titleleaf.com'}, an SaaS solution for publishers.
      .col-md-5.no-pad.text-right

%section.case-study-item.case-study-item-02.fullheight.add-top-half
  .valign
    .container-fluid
      .row
        .col-md-6.col-md-offset-3.text-center.header-caps
          = link_to 'View Portfolio', '/portfolio.html', class: 'btn btn-nord btn-nord-dark'
