---
title: home
---

%section.main-headline.white-bg
  .container-fluid
    .row
      .col-md-7.no-pad.text-left.header-caps
        %h2.black.font2bold
          Hello
        %h3.grey.font3
          Propulsion is a
          %span.color
            web development team
          based in Lake Tahoe, California. We specialize in the creation of
          %span.color
            = link_to 'custom applications', 'http://titleleaf.com'
          for the
          %span.color
            book publishing industry.
      .col-md-5.no-pad.text-right
        = link_to image_tag('https://www.ziprecruiter.com/img/badge-hiring-120px.png', alt: 'We\'re Hiring', width: 120, height: 96), 'https://www.ziprecruiter.com/jobs/8ebbce30?source=hiring_badge', title: 'We\'re Hiring', target: '_blank'

%section.case-study-item.case-study-item-01.fullheight.add-top-half
  .valign
    .container-fluid
      .row
        .col-md-6.col-md-offset-3.text-center.header-caps
          = link_to 'View Portfolio', '/portfolio.html', class: 'btn btn-nord btn-nord-color'
