---
title: thank you!
---

%section.gray
  .row
    .col-md-4.mobile-center
      %h2 Contact
    .col-md-8
      %p
        Thanks for completing our contact form. We'll respond as soon as possible.
